/* Enter your custom styles here */
.imageText {
  position: absolute;
  top: 260px;
  left: 120px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.on-leave {
  color: red;
}

.working {
  color: green;
}


.formText {
  font-weight: bold;
  font-size: medium;
  color: #333;
}

.customToolbar {
  background-color: #f5f5f5;
  padding: 20px;
}
.customListItem .sapMSLITitle {
  font-weight: bold;
  font-size: 16px;
}


.largerTitle .sapMTitle {
  font-size: large;
}
.centeredHeader {
  text-align: center;
}
.leavestatus {
  color: red;
}

.customFont {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 40px;
}
.customHeader {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.customContent {
  margin: 16px;
}

.roundImage {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  z-index: 1;
}

.customForm {
  background-color: #f5f5f5;
}

.formLabel {
  text-align: right;
  width: 150px;
  display: inline-block;
}

.sapMBtn.increaseFont .sapMBtnIcon .sapUiIcon {
  font-size: 1.5rem;
  color: red;
}

.myCustomTile {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
  padding-bottom: 100px;
}

.largerTitle {
  font-size: larger;
}
.centeredHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0px;
}
.centeredHeaderText {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
.sapMBarTitleAlignAuto .sapMBarPH {
  justify-content: center;
  padding: 20px;
}
.sapMIBar-CTX .sapMTitle {
  font-size: 20px;
}
.sapUiSizeCompact
  .sapUiForm:not(.sapUiFormEdit)
  .sapUiFormCLSmallColumns
  .sapUiFormCLContainer
  > .sapUiFormTitle {
  font-size: larger;
}
.customListItem[isOnLeave="true"] {
  background-color: red; 
}

.customListItem[isOnLeave="false"] {
  background-color: green; 
}
.customItemSpacing {
  margin-bottom: 20px; 
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  height: 150px;
  border-radius: 10px;
  
}

.customIconSize{
  padding: 20px;
  width: 90px;
  height: 90px;
  border-radius: 30%; 
}

.custom-title {
  padding-top: 20px;  
  font-size: large;
}
.custom-designation{
  font-size: medium;
  font-weight: 500;
  padding-top: 5px;
}
.custom-label{
  padding-top: 5px;
  font-weight: lighter;
  margin-right: 10px;
}
span.sapMBtnInner.sapMBtnEmphasized {
  background-color: #1bc8ce;
  border-color: #00ebf2;
  color: #fff;
  text-align: center;
  height: 40px;
  padding: 10px 20px;
}
span.sapMBtnInner.sapMBtnEmphasized:hover {
  background-color: #00ebf2;
  border-color: #00ebf2;
  color: #fff;
}
.customButton {
  margin-bottom: 20px; 
  position: relative;
  top: 0;
  right: 0;
  height: 40px;
}

.customOverflowToolbar {
  margin-bottom: 20px; /* Adjust the value as needed */
}

/* Remove white background color */
.customOverflowToolbar .sapMOverflowToolbarWrapper {
  background-color: transparent;
}
.sapMTB.sapMTBStandard {
  border-bottom: none;
}
.sapMTB {
  background: none;
}
.sapUiSizeCompact .sapMBtn {
  height: 100px;
  padding: 2px;
}
.sapMIBar.sapMHeader-CTX {
  background-color: #0f2743;

}

.sapMIBar .sapMBtn .sapMBtnInner.sapMBtnDefault, .sapMIBar .sapMBtn .sapMBtnInner.sapMBtnDefault .sapUiIcon, .sapUxAPObjectPageHeaderIdentifierActions .sapMBtn .sapMBtnInner.sapMBtnDefault, .sapUxAPObjectPageHeaderIdentifierActions .sapMBtn .sapMBtnInner.sapMBtnDefault .sapUiIcon {
  color: #ffff;
  background-color: transparent;
}
.customTitle{
  font-size: larger;
  font-weight: bolder;
  padding-left: 10px;
}
.sapMBar{
  height: 500px;
}